<div class="container">
    <h1>Hero Form</h1>
    <form>
        {{diagnostic}}
        <div class="form-group">
            <label for="name">Name</label>
            <input *ngIf="user" type="text" id="name" name="name" class="form-control" required [(ngModel)]="user.name">
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input *ngIf="user" type="number" id="age" name="age" class="form-control" required [(ngModel)]="user.age">
        </div>
        <div class="form-group">
            <label for="jobs">Hero Power</label>
            <select *ngIf="user" id="jobs" class="form-control" required [(ngModel)]="user.job">
                <option *ngFor="#j of jobs" [value]="j">{{j}}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
